:root {
  --cyan-primary: hsl(179, 62%, 43%);
  --cyan-secondary: hsl(179, 62%, 62%);
  --yellow-primary: hsl(71, 73%, 54%);
  --yellow-secondary: hsl(71, 70%, 44%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Karla', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: var(--gray);
}

.container {
  width: 56vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  border-radius: 20px;

  box-shadow: 0px 10px 15px 0px #5C5C5C;
}

#header {
  grid-column: 1/3;
  grid-row: 1/3;
  padding: 3rem;
  background: white;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#header h1{
  color: var(--cyan-primary);
  font-size: 2rem;
  font-weight: 700;
}

#header p:nth-child(2) {
  color: var(--yellow-primary);
  padding: 1.2rem 0;
  font-size: 1.3rem;
}

#header p:nth-of-type(2) {
  color: #B5B5B5;
  line-height: 1.5rem;
}

#area1 {
  padding: 3rem;
  background: var(--cyan-primary);
  border-bottom-left-radius: 20px;
}

#area1 h1 {
  color: white;
  font-size: 1.4rem;
}

#area1 h2 {
  color: white;
  font-size: 1.8rem;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
}

#area1 h2 small {
  color: #B5B5B5;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}

#area1 p {
  color: white;
  font-size: 1.2rem;
}

#area1 button {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  background-color: var(--yellow-primary);
  border: 1px solid var(--yellow-primary);
  border-radius: 5px;
  box-shadow: 0px 5px 10px #5c5c5c;
  cursor: pointer;
  transition: .2s background ;
}

#area1 button:hover {
  background-color: var(--yellow-secondary);
  border: 1px solid var(--yellow-secondary);
}

#area2 {
  padding: 3rem;
  background: var(--cyan-secondary);
  border-bottom-right-radius: 20px;
}

#area2 h1{
  color: white;
  font-size: 1.4rem;
}

#area2 p {
  color: #E5E5E5 ;
  line-height: 1.6rem;
  padding-top: 1rem;
}